* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}

.tittle {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 30px;
}

.input_num {
    display: flex;
    justify-content: center;
}

.num {
    width: 75px;
    border-radius: 5px;
    box-shadow: 0 0 50px 0.5px turquoise;
    outline: none;
}

.input_operator {
    display: flex;
    justify-content: center;
    padding-top: 13px;
    padding-left: 645px;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
}

.operator {
    width: 50px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.calculate_button:link,
.calculate_button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.calculate_button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.calculate_button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.calculate_button {
    background-color: #fff;
    color: #777;
}

.calculate_button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.calculate_button::after {
    background-color: #fff;
}

.calculate_button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.calculate_button {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.table_numbers {
    padding-left: 45%;
    padding-top: 57px;
    padding-bottom: 75px;
    font-size: 30px;
    width: 200px;
    height: 200px;
}
